<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - playground</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </head>
  <body>
    <div class="hero" data-theme="dark">
      <nav class="container-fluid">
        <ul>
          <li>
            <a class="contrast" href="@Url.Page("Index")">
              <strong>Home</strong>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="contrast" href="@Url.Page("Privacy")">Privacy</a>
          </li>
        </ul>
      </nav>
      <header class="container">
        <hgroup>
          <h1>Bamm</h1>
          <h2>Razor pages with pico and htmx anyone?</h2>
        </hgroup>
      </header>
    </div>

    <main class="container">@RenderBody()</main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
